.rTable {
    display: block;
    width: 100%;
}
.rTableHeading, .rTableBody, .rTableFoot, .rTableRow{
    clear: both;
}
.rTableHead, .rTableFoot{
    background-color: #DDD;
    font-weight: bold;
}
.rTableCell, .rTableHead {
    border: 1px solid #999999;
    float: left;
    height: auto;
    overflow: hidden;
    padding: 3px 1.8%;
    width: 50%;
}
.rTable:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.cursor-pointer{
    cursor: pointer !important;
}

.pagination {
    margin: 0 !important;
}

.pagination>li>a, .pagination>li>span{
    padding: 2px 9px;
}